@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5); 
}

header h2 {
    display: flex; 
    align-items: center; 
    color: white; 
    margin-left: 20px; 
}

.navigation a {
    position: relative; 
    font-size: 1.1em; 
    color: azure; 
    text-decoration: none; 
    font-weight: 500; 
    margin-left: 40px; 
}

.navigation a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    width: 100%; 
    height: 3px; 
    background: #fff; 
    border-radius: 5px; 
    transform: scaleX(0); 
    transition: transform .5s; 
}

.navigation a:hover::after {
    transform: scaleX(1); 
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
    transition: 1s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: black;
}

.navigation .btnlogout {
    position: relative; 
    background: transparent;
    font-size: 1.1em; 
    color: rgb(204, 213, 213); 
    text-decoration: none; 
    font-weight: 500; 
    margin-left: 40px; 
    border:0;
    cursor: pointer;
}

.navigation .btnlogout::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    width: 100%; 
    height: 3px; 
    background: #fff; 
    border-radius: 5px; 
    transform: scaleX(0); 
    transition: transform .5s; 
}

.navigation .btnlogout:hover::after {
    transform: scaleX(1); 
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items : center;
    color: white;
    text-align: center;
}

.section1 {
    background: url('IMG_3532.JPG') no-repeat center center/cover;
}

.welcome {
    margin-top:0px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 0px; 
    border-radius: 30px; 
    text-align: center; 
}

.welcome h1 {
    font-size: 2em;
    color: white; 
    margin-bottom: 10px;
}

.welcome p {
    font-size: 1.2em;
    color: white; 
}

.section2 { 
    padding: 40px; 
    display: flex; 
    justify-content: space-between; 
}
.text-box {
    flex: 1; 
    margin: 20px; 
    padding: 20px; 
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5); 
    border-radius: 15px; 
    backdrop-filter: blur(20px); 
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    text-align: left; 
}

.text-box h2 {
    color: #ffffff; 
    margin-bottom: 10px; 
}

.text-box p {
    color: #dddddd; 
    margin-bottom: 10px; 
}

.preim {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid white; 
    border-radius: 30px; 
    text-align: center; 
}
.preim h2 {
    color: #ffffff; 
    margin-bottom: 10px;
    font-size: larger;
}

.preim p {
    color: #dddddd; 
    margin-bottom: 10px;
    font-size: large;
}

.wrapper {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 420px; 
    height: 260px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5); 
    border-radius: 15px; 
    backdrop-filter: blur(20px); 
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 100; 
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s ease, opacity .5s ease;
}

.wrapper.active-popup {
    transform: translate(-50%, -50%) scale(1); 
}

.wrapper.close-popup {
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s ease; 
}

.form-box {
    width: 100%;
    padding-top: 20px;
}

.form-box h2 {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

.input-box {
    width: 100%;
    padding:10px;
    text-align: center;
    border: 2px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white; 
    font-size: 1.5em; 
}

.btn {
    width: 44%;
    height: 40px;
    border: none; 
    border-radius: 15px; 
    cursor: pointer;
    font-size: 1em;
    color: white; 
    font-weight: 500;    
    background-color: #161617; 
    transition: background-color 0.3s, transform 0.3s; 
    margin: 10px; 
}
.form-box .form .input-box .a{
    color: #000;
}
.btn:hover {
    background-color: #0b0a0c; 
    transform: scale(1.05); 
    border: 2px solid white; 
}

main {
    position: relative;
    z-index: 1;
} 
